## 6. Regression techniques and regularization

*Ganesh, Tinniam V. Practical Machine Learning with R and Python: Machine Learning in Stereo (pp. 127-128). Edição do Kindle.*

The techniques that are used are the following:
* Best fit  
* Forward fit  
* Backward fit
* Ridge Regression or L2 regularization  
* Lasso or L1 regularization

#### 6.1 Best fit

In [1]:
import numpy as np 
import pandas as pd
import os 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from mlxtend.feature_selection import ExhaustiveFeatureSelector as EFS

In [2]:
df = pd.read_csv("Boston.csv", encoding="ISO-8859-1")

In [3]:
df.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
df.shape

(506, 15)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   no            506 non-null    int64
 1   crimeRate     506 non-null    float64
 2   zone          506 non-null    float64
 3   indus         506 non-null    float64
 4   chasRiver     506 non-null    int64
 5   NO2           506 non-null    float64
 6   rooms         506 non-null    float64
 7   age           506 non-null    float64
 8   distances     506 non-null    float64
 9   idxHighways   506 non-null    int64
 10  taxRate       506 non-null    int64
 11  teacherRatio  506 non-null    float64
 12  color         506 non-null    float64
 13  status        506 non-null    float64
 14  cost          506 non-null    float64
dtypes: float64(11), int64(4)
memory usage: 59.4 KB

In [5]:
# Rename columns
df.columns = ["no","crimeRate","zone","indus","chasRiver","NO2","rooms","age","distances","idxHighways","taxRate","teacherRatio","color","status","cost"]

In [6]:
df.head()

,no,crimeRate,zone,indus,chasRiver,NO2,rooms,age,distances,idxHighways,taxRate,teacherRatio,color,status,cost
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [7]:
# Set X and y
X = df[["crimeRate", "zone","indus","chasRiver","NO2","rooms","age","distances","idxHighways","taxRate","teacherRatio","color","status"]]

y = df["cost"]

In [8]:
# Perform exhaustive search
lr = LinearRegression()
efs = EFS(lr,
min_features=1,
max_features=13,
scoring="neg_mean_squared_error",
print_progress=True,
cv=5)

In [13]:
# Create a efs fit
efs1 = efs.fit(X, y)

Features: 8191/8191

In [14]:
print('Best negtive mean squared error: %.2f' % efs1.best_score_)

Best negtive mean squared error: -28.92

In [16]:
print('Best subset:', efs1.best_idx_)

Best subset: (0, 1, 4, 6, 7, 8, 9, 10, 11, 12)

Decidi parar o curso por aqui porque as explicações são rasas e não estou compreendendo como se deve a lógica e estatística por trás do código. Procurar outro livro e seguir. Por ora, regressão linear, regressão logística e KNN foram compreendidos. Seguir.